@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
/*init all tags*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
}

html {
  font-family: heebo;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main #container {
  margin: 10rem 5vw 0 5vw;

  /*margin-left: 5vw;*/
}

#image-container {
  justify-self: flex-end;
  text-align: left;
}
#image-container img {
  object-fit: contain;
}
main header h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: #020253;
  margin-bottom: 1.2rem;
}

main header p {
  color: #020253;
  font-size: 1.25rem;
  margin-bottom: 1.6rem;
}

main div form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main div form label {
  font-size: 1rem;
  font-weight: bold;
  color: #2c2c2c;
}
main div form input {
  height: 3.125rem;
  border: none;
  border-bottom: 0.5rem solid #020253;
  background-color: #e5eeff;
  margin-bottom: 1.3rem;
}

.btn {
  margin-top: 1.3rem;
  background-color: #020253;
  border: none;
  padding: 1rem 3.125rem;
  width: fit-content;
  color: white;
  font-weight: bold;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  main {
    grid-template-columns: auto;
  }
  #image-container img {
    content: url("../images/Coffee-wide.png");
    max-width: 100%;
    max-height: 50vw;
  }
  #image-container {
    order: -1;
  }
}
